
.dropdown-item{
	padding:10px;
	color:black;	
}
.stats-conatiner{
	background: #ecf0f5;
}


.chartTitle{
	font-family: Roboto;
    color: #fff;
    margin:10 0 5 0;
    font-weight:200;
    text-align: center;
    font-size:20px;
}
.chartCanvas{
	background:white;
	border-radius:5px;
	padding:20px;
}


.statsButton-active{
	background:blue;
}

.stats-chart-box{
    background-color: white;
    padding:10px 0px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .stats-header{
    text-align: center;
    font-weight:600;
    font-size:16px;
    font-family: Roboto;
  }
  .stats-header-box{
    display: flex;
    flex-direction: row;
    padding:2px 0px;
  }
  .stats-header-icon{
    flex: 0 0 5%;
  }

  
  .stats-header{
    flex: 0 0 90%;
  }
  
  .chartContainer{
  background-color:white;
   border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .emptyChart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170;
	border-collapse: collapse;
	font: 12px "Lucida Grande", "Helvetica", "Arial", sans-serif;
	font-style: italic;
	background-color:white;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
  }
  
  
  .tooltip {
  font-family: Georgia;
  white-space: normal;
}

.tooltipTitle p{
	margin-bottom:0px;
	font-size:12px;
}

.tooltip.left  .tooltip-inner{
	text-align:start;
	background-color: #367fa9;
	border-radius:5px;
	font-size:2px;
}

.box-shadow-card{
	box-shadow: 2px 2px 20px  lightgray;
	border: 1px solid lightgray;
	border-radius:8px;
	margin-bottom: 10px;
}

.list-right{
  left: auto !important;
  right: 0 !important;
}




.tableFixHead { 
	overflow: auto; 
	height: 200px;
	  margin: unset;
	  margin: 2px;
}
.tableFixHead thead th { position: sticky; top: -1; z-index: 1; background-color:#367fa9; color:white;}
.tableFixHead::-webkit-scrollbar {
	  height: 2px;
	  width:5px;
	}
	
	.tableFixHead::-webkit-scrollbar-track {
	  /*background-color: lightgray;*/
	}
	
	.tableFixHead::-webkit-scrollbar-thumb {
	  /*box-shadow: inset 0 0 6px #3c8dbc;*/
	  background-color: #367fa9;
	  border-radius: 8px;
	}
.modal-custom-width {
    min-width: 768px;
  }
